.header__logotype-image{
    width: 200px;
    height: 100px;
}

.header{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    padding: 10px;
}

.header__intro-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header__navigation-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header__search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__search-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}